/* default.css */
:root {
    --main-color:#70C9E4;
    --sub-color1:#49A9D1;
    --sub-color2:#505050;
    --text-color:#333333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

body {
    font-family: 'Nanum Gothic', sans-serif;
    color: var(--text-color);
}