/* mobile.css */
body {
  font-size: 14px;
  margin: 0 auto;
}

.pc-only {
  display: none;
}

/* header */
#main-header {
  width: 100%;
  height: 80px;
  background: rgba(255, 255, 255, 0.85);
  margin: 0 auto;
  font-family: 'Public Sans', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 999;
}

header h1 {
  margin-top: 15px;
}

#gnb-toggle-btn {
  border: none;
  background: transparent;
  position: absolute;
  right: 20px;
  cursor: pointer;
}

#gnb {
  width: 100%;
  height: 220px;
  position: absolute;
  background: rgba(255, 255, 255, 0.85);
  top: 80px;
  display: none;
  text-align: center;
  z-index: 100;
}

#gnb.on {
  display: block;
  z-index: 100;
}

#gnb ul li {
  margin-bottom: 19px;
}

#gnb ul li:first-child {
  margin-top: 20px;
}

#gnb ul li a {
  color: var(--main-color);
  font-size: 26px;
  cursor: pointer;
  font-weight: 400;
}

/* ham */
.ham {
  width: 50px;
  height: 45px;
  cursor: pointer;
  position: absolute;
  right: 10px;
  bottom: 6px;
}

.ham span {
  display: block;
  background: var(--sub-color1);
  width: 35px;
  height: 4px;
  border-radius: 3px;
  transition: margin 0.25s 0.25s, transform 0.25s;
}

.ham .bar1 {
  margin-bottom: 6px;
}

.ham .bar3 {
  margin-top: 6px;
}

.ham.active span {
  transition: margin 0.25s, transform 0.25s 0.25s;
}

.ham.active .bar1 {
  margin-top: 8px;
  margin-bottom: -4px;
  transform: rotate(45deg);
}

.ham.active .bar2 {
  transform: rotate(45deg);

}

.ham.active .bar3 {
  margin-top: -4px;
  transform: rotate(135deg);
}


/* main */
/* home */
#page-1 {
  color: #fff;
  overflow: hidden;
}



#home {
  width: 100vw;
  height: 100vh;
  background-image: url(../images/m-main-banner.jpg);
  animation: bg 20s linear infinite alternate;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes bg {
  0% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.1, 1.1);
  }

  100% {
    transform: scale(1, 1);
  }
}

#page-1 .text-box {
  text-align: center;
}

#page-1 .text-box p {
  font-size: 20px;
  font-weight: 800;
  display: inline-block;
}

#page-1 .text-box .line {
  width: 158px;
  height: 3px;
  background: #fff;
  display: inline-block;
  margin-bottom: 4px;
}

#page-1 .text-box .line.right {
  animation: rightline 4.5s ease-in-out;
}

@keyframes rightline {
  to {
    width: 158px;
  }

  from {
    width: 0;
  }
}

#page-1 .text-box .line.left {
  animation: leftline 5s ease-in-out;
}

@keyframes leftline {
  to {
    width: 158px;
  }

  from {
    width: 0;
  }
}

#page-1 .text-box h2 {
  font-size: 38px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  color: transparent;
}

/* 타이핑 */
@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

.text {
  display: table-cell;
  vertical-align: middle;
  border-right: .05em solid #fff;
  animation: cursor 0.8s ease infinite;
}

#page-1 .text-box .wep {
  margin-bottom: 30px;
}

#page-1 .text-box .park {
  margin-top: 30px;
}

#page-1 .text-box h3 {
  margin-top: 10px;
  line-height: 30px;
  font-size: 16px;
  font-weight: 400;
}

#page-1 .text-box a {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  animation: move 1s alternate infinite ease-in;
}

#page-1 .text-box a img {
  width: 25px;
  height: 25px;
}

@keyframes move {
  from {
    transform: translate(0, 0);
  }

  to {
    transform: translate(0, 13px);
  }
}

/* about */
#page-2 {
  /* overflow: hidden; */
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #EEEEEE 0%, rgba(238, 238, 238, 0) 100%);
  background-size: cover;
  background-position: center;
  text-align: center;
}

#about {
  width: 100vw;
  height: 100vh;
  position: relative;
  padding-top: 100px;
}

#about .rectangle {
  width: 175px;
  height: 45px;
  background: var(--main-color);
  position: absolute;
  left: 0;
  top: 140px;
  animation: rect 1.5s alternate infinite ease-in;
}

@keyframes rect {
  from {
    transform: translate(0, 0);
  }

  to {
    transform: translate(-100px, 0);
  }
}

#about h2 {
  font-size: 26px;
  font-weight: 800;
  margin-bottom: 20px;
  font-family: 'Public Sans', sans-serif;
}

#about h3 {
  font-size: 18px;
  font-weight: 400;
}

#about h3 span {
  font-weight: 800;
}

#about .uiuxbox {
  position: absolute;
  left: 30%;
  right: 30%;
  z-index: 1;
  top: 335px;
  color: #fff;
  text-shadow: 1px 1px 6px #333;
}

#about img {
  width: 235px;
  height: 235px;
  border-radius: 1000px;
  margin-top: 25px;
}

#about p {
  line-height: 20px;
}

#about .name {
  margin-top: 15px;
  font-weight: 700;
}

#about p:last-child {
  margin-top: 20px;
}

/* skills */
#skills {
  width: 100vw;
  height: 100vh;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#skills .rectangle {
  width: 175px;
  height: 45px;
  background: var(--sub-color1);
  position: absolute;
  right: 0;
  bottom: 20px;
  z-index: -1;
  animation: rect2 1.5s alternate infinite ease-in;
}

@keyframes rect2 {
  from {
    width: 175px;
  }

  to {
    width: 87px;
  }
}

#skills .title {
  margin-bottom: 30px;
  font-family: 'Public Sans', sans-serif;
  font-size: 26px;
  padding-top: 30px;
}

#skills h2 {
  font-size: 18px;
  font-weight: 800;
}

#skills .skills-icon-box {
  margin-bottom: 30px;
  width: 200px;
  height: 125px;
}

#skills .skills-icon-box img {
  margin-left: 10px;
  margin-right: 10px;
}

#skills .line {
  width: 335px;
  height: 1px;
  background: #ccc;
  display: inline-block;
  margin-bottom: 30px;
}

#skills>p {
  margin-top: 30px;
  margin-bottom: 30px;
}

#skills .ed-box {
  margin-top: 30px;
  margin-bottom: 30px;
}

#skills .ed-box p {
  margin-top: 5px;
}

/* works */
#page-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
  background: radial-gradient(circle farthest-corner at 10% 20%, rgba(234, 249, 249, 0.67) 0.1%, rgba(239, 249, 251, 0.63) 90.1%);
  padding-bottom: 50px;
}

#works>h2 {
  text-align: center;
  margin-top: 110px;
  /* margin-bottom: 30px; */
  font-size: 26px;
  font-weight: 800;
  font-family: 'Public Sans', sans-serif;
}

/* swiper slider */
.swiper {
  width: 350px;
  height: 600px;
}

.swiper .swiper-slide {
  display: flex;
  flex-direction: column;
}

.swiper .swiper-slide img {
  width: 335px;
  height: 250px;
  margin-left: 10px;
}

.swiper .swiper-slide .title {
  text-align: center;
}

.swiper .swiper-slide .title h2 {
  font-size: 16px;
  font-weight: 800;
  margin-top: 15px;
  margin-bottom: 15px;
}

.swiper .swiper-slide .title h2:first-child {
  margin-top: 40px;
  margin-bottom: 0;
  font-size: 18px;
}

.swiper .swiper-slide .title p {
  margin-top: 5px;
}

.swiper .swiper-slide .title .color-box {
  width: 20px;
  height: 20px;
  display: inline-block;
  background-color: #F9941E;
  margin-right: 5px;
}

.swiper .swiper-slide .title .color div:nth-child(2) {
  background-color: #74B743;
}

.swiper .swiper-slide .title .color div:nth-child(3) {
  background-color: #3581CA;
}

.swiper .swiper-slide .title .color div:nth-child(4) {
  background-color: #A8A8A8;
}

.swiper .swiper-slide.s2 .title .color-box {
  background-color: #E60013;
}

.swiper .swiper-slide.s3 .title .color-box {
  background-color: #E50914;
}

.swiper .swiper-slide.s4 .title .color-box {
  background-color: #0094FF;
}

.swiper .swiper-slide.s5 .title .color-box {
  background-color: #50A3D9;
}

.swiper .swiper-slide.s5 .title .color div:nth-child(2) {
  background-color: #92BA3E;
}

.swiper .swiper-slide.s5 .title .color div:nth-child(3) {
  background-color: #E99923;
}

.swiper .swiper-slide.s5 .title .color div:nth-child(4) {
  background-color: #D73227;
}

.swiper .swiper-slide.s5 .title .color div:nth-child(5) {
  background-color: #521110;
}

.swiper .swiper-slide .title .explain {
  margin-top: 15px;
}

.swiper .swiper-slide .title .quick-btn {
  margin-top: 45px;
}

.swiper .swiper-slide .title .quick-btn a {
  color: #fff;
  background-color: var(--main-color);
  font-size: 18px;
  padding: 10px 30px;
  border-radius: 30px;
  margin-left: 5px;
  margin-right: 5px;
}

.swiper-pagination-bullet {
  border-radius: 0;
  width: 3px;
  height: 3px;
  background-color: #505050;
  opacity: 0.4;
  border-radius: 100px;
}

.swiper-pagination-bullet-active {
  background: #505050;
  opacity: 1;
  width: 5px;
  height: 5px;
}

.swiper-pagination {
  bottom: 340px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* contact */
#page-4 {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #70C9E4 0%, #49A9D1 100%);
  height: 100vh;
  color: #fff;
  flex-direction: column;
  position: relative;
  padding-top: 50px;
}

#contact {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contact .text-box {
  font-size: 20px;
  margin-top: 100px;
}

#contact .text-box h3:last-child {
  vertical-align: middle;
  border-right: .05em solid #fff;
  animation: cursor2 0.8s ease infinite;
}

@keyframes cursor2 {
  50% {
    border-color: transparent;
  }
}

#contact .text-box .line1 {
  width: 165px;
  height: 2px;
  background-color: #fff;
  display: inline-block;
  margin-bottom: 8px;
  margin-left: 10px;
}

#contact .text-box .line {
  width: 132px;
  height: 2px;
  background-color: #fff;
  display: inline-block;
  margin-bottom: 5px;
}

#contact .text-box .inline {
  display: inline-block;
}

#contact .contact-me img {
  border-radius: 30px;
  width: 335px;
  height: 242px;
}

#contact .info {
  margin-top: 30px;
  text-align: center;
}

#contact .info h3 {
  font-size: 18px;
  font-weight: 800;
  margin-bottom: 10px;
}

#contact .info .sns {
  margin-bottom: 20px;
}

#contact .info .sns .icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

#contact .info .sns a {
  margin-left: 10px;
  margin-right: 10px;
  animation: snsicon 1s alternate infinite ease-in-out;
}

@keyframes snsicon {
  to {
    transform: rotate(15deg);
  }

  from {
    transform: rotate(-15deg);
  }
}

#contact .info .hp {
  margin-bottom: 20px;
}

#contact .info .email {
  margin-bottom: 30px;
}

#contact .info .git-btn {
  display: inline-block;
  width: 150px;
  height: 50px;
  background: #fff;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

#contact .info .git-btn a {
  font-size: 20px;
  color: var(--main-color);
  font-weight: 700;
}

/* footer */
#main-footer {
  height: 80px;
  background-color: var(--main-color);
  text-align: center;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 30px;
}

#main-footer .copy {
  color: #eaeaea;
  font-size: 10px;
}

#main-footer .top-button {
  position: fixed;
  z-index: 90;
  width: 50px;
  height: 75px;
  right: 10px;
  bottom: 5px;
}

/* loading screen */
.loading.on {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  background-color: var(--main-color);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  font-size: 36px;
}

.loading>h2 {
  font-size: 36px;
}

.loading>img {
  width: 178px;
  height: 178px;
}

.loading {
  display: none;
}